services:
  mariadb:
    image: mariadb:10.6
    environment:
      - MARIADB_ROOT_PASSWORD=change_root
      - MARIADB_DATABASE=bitnami_testlink
      - MARIADB_USER=bn_testlink
      - MARIADB_PASSWORD=change_db_pw
    volumes:
      - mariadb_data:/var/lib/mysql
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-pchange_root"]
      interval: 10s
      timeout: 5s
      retries: 10
    

  testlink:
    build:
      context: ./testlink
      dockerfile: Dockerfile
    depends_on:
      - mariadb
    environment:
      - TL_DB_HOST=mariadb
      - TL_DB_NAME=bitnami_testlink
      - TL_DB_USER=bn_testlink
      - TL_DB_PASS=change_db_pw
      - TL_DB_PREFIX=
      - TL_ADMIN_USER=admin
      - TL_ADMIN_PASS=admin12345
      - TL_ADMIN_EMAIL=admin@example.com
      - TL_ENABLE_API=true
    ports:
      - "8080:80"
    volumes:
      - testlink_data:/var/www/html/upload_area
      - testlink_logs:/var/www/html/logs
    restart: unless-stopped

  phpmyadmin:
    image: phpmyadmin:5-apache
    environment:
      - PMA_HOST=mariadb
      - PMA_USER=bn_testlink
      - PMA_PASSWORD=change_db_pw
    ports:
      - "8081"
    depends_on:
      - mariadb
    restart: unless-stopped

volumes:
  mariadb_data:
  testlink_data:
  testlink_logs:
